// main:../style.less

.intro {
    display: flex;
    //flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 165px;
    
    background: url(../css/img/bird1.png) center no-repeat;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    //margin: 0 0;
    
    text-align: left;
}

.intro__title {
    margin: 0 0 30px;
    
    font-size: 3rem;
    line-height: 1.1;
    color: @black;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    font-size: 4rem;
    color: #000;
    margin-bottom: 33px;
    
    //color: @black;
    font-weight: 400;
    line-height: 0.9;    
}

.intro__text {
    margin-bottom: 33px;
    padding-left: 5px;
    
    font-size: 2.5rem;
    color: fade(#000, 70%);
}